body {
  margin: 0px;
}
.contacts-details {
  display: flex;
}
#contact-table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}
#table-heading {
  text-align: center;
  margin: 16px 0px;
  padding-bottom: 5px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
